<div class="login-container">
  <p-card header="Login" styleClass="login-card">
    <form (ngSubmit)="onSubmit()">

      <div class="field">
        <label for="email">Email</label>
          <i class="pi pi-envelope"></i>
          <input id="email" type="email" pInputText [(ngModel)]="email" name="email" class="w-full" placeholder="Digite seu email" required>
      </div>

      <div class="field">
        <label for="password">Senha</label>
          <i class="pi pi-lock"></i>
          <input id="password" [(ngModel)]="password" pInputText name="password" class="w-full" type="password" required>
      </div>

      <p-button type="submit" label="Entrar" [loading]="loading" [rounded]="true"></p-button>
      
    </form>
   
    <div class="text-center">
      <span class="text-600">Não tem uma conta?</span>
      <a routerLink="/register" class="text-primary ml-2"> Registre-se</a>
    </div>
  </p-card>
</div> 
